@charset "UTF-8";

/* Mobile first styles */

/*Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/*Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: #14325C;
	font-weight: 500;
	border-bottom: 1px solid transparent;
	-webkit-transition: ease all .3s;
	-o-transition: ease all .3s;
	transition: ease all .3s;
}

a:hover {
	border-bottom: 1px solid #14325C;
	text-decoration: none;
}

.btn {
	background-color: #fff;
	color: #5398D9;
	border-color: #5398D9;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
	border-radius: 0;
	padding: 5px 20px;
	margin: 0;
	-webkit-transition: ease all .35s;
	-o-transition: ease all .35s;
	transition: ease all .35s;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
}

.btn:hover {
	background-color: #5398D9;
	color: #fff;
	border-color: #5398D9;
}

/*Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.primary-1 {
	color: #F5F5F5;
}

.primary-2 {
	color: #FFCC04;
}

.primary-3 {
	color: #ebe8e8;
}

.secondary-1 {
	color: #a3a3a3;
}

.secondary-2 {
	color: #FFF;
}

.bg-primary-1 {
	background-color: #F5F5F5;
}

.bg-primary-2 {
	background-color: #FFCC04;
}

.bg-primary-3 {
	background-color: #ebe8e8;
}

.bg-secondary-1 {
	background-color: #a3a3a3;
}

.bg-secondary-2 {
	background-color: #FFF;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.well-sm {
	padding-top: 10px;
	padding-bottom: 10px;
}

.well-md {
	padding-top: 30px;
	padding-bottom: 30px;
}

.well-lg {
	padding-top: 40px;
	padding-bottom: 40px;
}

.p-sm {
	padding: 10px;
}

.p-md {
	padding: 30px 15px;
}

.p-lg {
	padding: 40px 15px;
}

.p-top-sm {
	padding-top: 10px !important;
}

.p-top-md {
	padding-top: 30px !important;
}

.p-top-lg {
	padding-top: 60px !important;
}

.p-btm-sm {
	padding-bottom: 10px !important;
}

.p-btm-md {
	padding-bottom: 30px !important;
}

.p-btm-lg {
	padding-bottom: 60px !important;
}

.p-left-sm {
	padding-left: 10px !important;
}

.p-left-md {
	padding-left: 30px !important;
}

.p-left-lg {
	padding-left: 60px !important;
}

.p-right-sm {
	padding-right: 10px !important;
}

.p-right-md {
	padding-right: 30px !important;
}

.p-right-lg {
	padding-right: 60px !important;
}

.m-sm {
	margin: 10px !important;
}

.m-md {
	margin: 30px !important;
}

.m-lg {
	margin: 60px !important;
}

.m-top-sm {
	margin-top: 10px !important;
}

.m-top-md {
	margin-top: 30px !important;
}

.m-top-lg {
	margin-top: 60px !important;
}

.m-btm-sm {
	margin-bottom: 10px !important;
}

.m-btm-md {
	margin-bottom: 30px !important;
}

.m-btm-lg {
	margin-bottom: 60px !important;
}

.m-left-sm {
	margin-left: 10px !important;
}

.m-left-md {
	margin-left: 30px !important;
}

.m-left-lg {
	margin-left: 60px !important;
}

.m-right-sm {
	margin-right: 10px !important;
}

.m-right-md {
	margin-right: 30px !important;
}

.m-right-lg {
	margin-right: 60px !important;
}

/* Forms & Dropdown Selects
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Accordions
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* Extra small devices (portrait phones, 576px and higher)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 576px) {
	.p-md {
		padding: 30px;
	}

	.p-lg {
		padding: 60px;
	}
}

/* Small devices (landscape phones, 768px and higher)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 768px) {
	.well-lg {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

/* Medium devices (tablets, 992px and higher)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 992px) {}

/* Large devices (desktops, 1200px and higher)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1200px) {}

/* Extra large devices (large desktops)
   No media query since the extra-large breakpoint has no upper bound on its width */
